*.pyc
*/build
Android/expresstracker/build
Android/zbar/build
Android/zxing/build
Android/zbar-sample/build
Android/zbar-sample
Android/core/build/
Android/.idea/
Android/.gradle/
Server/OrderServer/logs/
Android/core/core.iml
Android/expresstracker/expresstracker.iml
Android/local.properties
Android/zxing/zxing.iml

